* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  overscroll-behavior-y: none;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#navbar {
  display: flex;
  align-items: center;
}

.nav-button {
  width: 56px;
  height: 56px;
  border: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  &:focus {
    outline: none;
    background-color: transparent;
  }
}

#nav-text {
  position: relative;
  z-index: -1;
  text-align: center;
  flex-grow: 1;
  margin-left: -56px;
  font-size: 0.8rem;
  font-weight: 600;
}

#side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #242424;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .nav-button {
    color: inherit;
  }
}

#page-contents {
  flex-grow: 1;
  flex-shrink: 1;
  height: 10px;
  overflow: auto;
  padding: 16px;
}

#home-list {
  display: grid;
  margin: 0 auto;

  gap: 40px 20px;

  width: 100%;
  #home-list { grid-template-columns: repeat(1, 1fr); }

}

@media (min-width: 632px) {
  #home-list {
    width: 600px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1032px) {
  #home-list {
    width: 1000px;
    grid-template-columns: repeat(3, 1fr);
  }
}


.home-item {
  color: inherit;
  text-decoration: none;
  &:hover {
    .home-item-title {
      text-decoration: underline;
    }
  }
}

.home-item-title {
  font-weight: 600;
  font-size: 0.8rem;
  margin: 6px 0 0;
}

.home-item-img {
  width: 100%;
  border-radius: 4px;
}

.home-item-category {
  font-size: 0.6rem;
  font-weight: 400;
  color: #878787;
  margin: 4px 0 0;
}

.sidebar-padding {
  padding: 0 16px 16px;
}

#sidebar-search-padding {
  padding: 16px 16px 0;
}

#sidebar-search {
  border-bottom: 1px solid #707070;
  align-items: center;
  display: flex;
  margin: 20px 0 36px;
  padding-bottom: 5px;

  .material-icons {
    color: #aaaaaa;
    font-size: 0.8rem;
  }
}

#search-input {
  font: inherit;
  font-size: 0.8rem;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: inherit;
  flex-grow: 1;
}

#sidebar-list {
  a {
    color: inherit;
    text-decoration: none;
    display: block;
    font-weight: 800;
    margin: 0 0 24px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.sidemenu-overflow {
  flex-grow: 1;
  overflow: auto;
}

.no-results {
  color: #aaaaaa;
  margin: 0;
}

.search-back {
  cursor: pointer;
}

#header-category {
  text-transform: capitalize;
}


















